<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.website.dao.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.example.website.entity.Banner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imageone" property="imageone" jdbcType="VARCHAR" />
    <result column="imagetwo" property="imagetwo" jdbcType="VARCHAR" />
    <result column="imagethree" property="imagethree" jdbcType="VARCHAR" />
    <result column="imagefour" property="imagefour" jdbcType="VARCHAR" />
    <result column="imagefive" property="imagefive" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imageone, imagetwo, imagethree, imagefour, imagefive, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.website.entity.Banner" >
    insert into banner (id, imageone, imagetwo, 
      imagethree, imagefour, imagefive, 
      createtime, updatetime)
    values (#{id,jdbcType=INTEGER}, #{imageone,jdbcType=VARCHAR}, #{imagetwo,jdbcType=VARCHAR}, 
      #{imagethree,jdbcType=VARCHAR}, #{imagefour,jdbcType=VARCHAR}, #{imagefive,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.website.entity.Banner" >
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imageone != null" >
        imageone,
      </if>
      <if test="imagetwo != null" >
        imagetwo,
      </if>
      <if test="imagethree != null" >
        imagethree,
      </if>
      <if test="imagefour != null" >
        imagefour,
      </if>
      <if test="imagefive != null" >
        imagefive,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imageone != null" >
        #{imageone,jdbcType=VARCHAR},
      </if>
      <if test="imagetwo != null" >
        #{imagetwo,jdbcType=VARCHAR},
      </if>
      <if test="imagethree != null" >
        #{imagethree,jdbcType=VARCHAR},
      </if>
      <if test="imagefour != null" >
        #{imagefour,jdbcType=VARCHAR},
      </if>
      <if test="imagefive != null" >
        #{imagefive,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.website.entity.Banner" >
    update banner
    <set >
      <if test="imageone != null" >
        imageone = #{imageone,jdbcType=VARCHAR},
      </if>
      <if test="imagetwo != null" >
        imagetwo = #{imagetwo,jdbcType=VARCHAR},
      </if>
      <if test="imagethree != null" >
        imagethree = #{imagethree,jdbcType=VARCHAR},
      </if>
      <if test="imagefour != null" >
        imagefour = #{imagefour,jdbcType=VARCHAR},
      </if>
      <if test="imagefive != null" >
        imagefive = #{imagefive,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.website.entity.Banner" >
    update banner
    set imageone = #{imageone,jdbcType=VARCHAR},
      imagetwo = #{imagetwo,jdbcType=VARCHAR},
      imagethree = #{imagethree,jdbcType=VARCHAR},
      imagefour = #{imagefour,jdbcType=VARCHAR},
      imagefive = #{imagefive,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>