<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.website.dao.ItemPublicationMapper" >
  <resultMap id="BaseResultMap" type="com.example.website.entity.ItemPublication" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="itemname" property="itemname" jdbcType="VARCHAR" />
    <result column="submittime" property="submittime" jdbcType="TIMESTAMP" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.website.entity.ItemPublicationWithBLOBs" extends="BaseResultMap" >
    <result column="title" property="title" jdbcType="LONGVARCHAR" />
    <result column="author" property="author" jdbcType="LONGVARCHAR" />
    <result column="source" property="source" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, itemname, submittime, link, createtime, updatetime
  </sql>
  <sql id="Blob_Column_List" >
    title, author, source
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from itempublication
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from itempublication
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.website.entity.ItemPublicationWithBLOBs" >
    insert into itempublication (id, itemname, submittime, 
      link, createtime, updatetime, 
      title, author, source
      )
    values (#{id,jdbcType=INTEGER}, #{itemname,jdbcType=VARCHAR}, #{submittime,jdbcType=TIMESTAMP}, 
      #{link,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{title,jdbcType=LONGVARCHAR}, #{author,jdbcType=LONGVARCHAR}, #{source,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.website.entity.ItemPublicationWithBLOBs" >
    insert into itempublication
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemname != null" >
        itemname,
      </if>
      <if test="submittime != null" >
        submittime,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemname != null" >
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=LONGVARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.website.entity.ItemPublicationWithBLOBs" >
    update itempublication
    <set >
      <if test="itemname != null" >
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        submittime = #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=LONGVARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.website.entity.ItemPublicationWithBLOBs" >
    update itempublication
    set itemname = #{itemname,jdbcType=VARCHAR},
      submittime = #{submittime,jdbcType=TIMESTAMP},
      link = #{link,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=LONGVARCHAR},
      author = #{author,jdbcType=LONGVARCHAR},
      source = #{source,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.website.entity.ItemPublication" >
    update itempublication
    set itemname = #{itemname,jdbcType=VARCHAR},
      submittime = #{submittime,jdbcType=TIMESTAMP},
      link = #{link,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>